<div class="bg">

  <!-- ENVELOPE SCREEN -->

  <div
    class="envelope-screen"
    *ngIf="showEnvelope">

    <div
      class="envelope"
      (click)="startExperience()">

      <div class="top"></div>

      <div class="letter">
        💌
      </div>

    </div>

    <button class="start-btn">
      Open Birthday Surprise
    </button>

  </div>

  <!-- MAIN CONTENT -->

  <div *ngIf="opened">

    <!-- CONFETTI -->

    <div class="confetti">

      <div
        *ngFor="let c of confettiItems"
        class="piece"
        [ngClass]="c.shape"
        [ngStyle]="{
          left: c.left + '%',
          background: c.color
        }">
      </div>

    </div>

    <!-- BALLOONS -->

    <div
      *ngFor="let b of balloons"
      class="balloon"
      [ngStyle]="{
        left: b.left + '%',
        background: b.color
      }">
    </div>

    <!-- CARD -->

    <div class="card">

      <h1>
        🎉 Happy Birthday 🎉
      </h1>

      <h2>
        {{ name }}
      </h2>

      <!-- SLIDER -->

      <div class="slider">

        <img
          [src]="photos[currentIndex]"
          alt="birthday photo" />

      </div>

      <p>
             💖 You are amazing!
        Have a wonderful birthday 🎂
      </p>

      <!-- BUTTONS -->

      <div class="buttons">

        <button (click)="toggleWish()">
          Wish 💖
        </button>

        <button (click)="toggleMusic()">

          {{
            isPlaying
            ? '⏸ Pause Music'
            : '🎵 Play Music'
          }}

        </button>

      </div>

      <!-- WISH -->

      <div
        class="wish"
        *ngIf="showWish">

        👑 Wishing a very Happy Birthday, Princess ✨  
May your day be filled with beauty, joy, and endless happiness 🎂💖

      </div>

      <!-- AUDIO -->

      <audio #audio loop>
        <source
          src="assets/music/z.mp3"
          type="audio/mp3" />
      </audio>

    </div>

  </div>

</div>